---
title: Programma
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='14 Giugno' %}

  <div class="schedule" data-dates="1-25,5-12,1-24">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='8.30 - 9.15' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.15 - 9.25' title='Presentazione GrUSP' name='Cesare D\'Amico' fill='true' %}
        {% include schedule/event.html time='9.25 - 9.30' title='Presentazione Angular Developer Italiani e Angular Day' name='Fabio Biondi' fill='true' %}

        <tr>
          {% include schedule/talk.html time='9.30 - 10.00' title='Il favoloso mondo di Angular (6)' speaker_id='fabio-biondi' fill='true' keynote='true' %}
          {% include schedule/talk.html time='10.00 - 11.00' title='Gestire applicazioni di classe Enterprise con Angular 6 e Schematics' speaker_id='paolo-galfione' fill='true' %}
        </tr>

        {% include schedule/pause.html time='11.00 - 11.20' title='Pausa breve' icon="coffee" fill='true' %}
        {% include schedule/pause.html time='11.20 - 11.30' title='Estrazione premi e cabaret' icon="play-1" speaker_id='' fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.30 - 12.30' title='Change Detection, Zone.js ed altri mostri' speaker_id='francesco-sciuti' fill='true' %}
          {% include schedule/talk.html time='12.30 - 13.00' title='Angular Elements: da Angular ai Web Components' speaker_id='francesco-sciuti' fill='true' %}
        </tr>

        {% include schedule/pause.html time='13.00 - 14.30' title='Pranzo + 3 mini talk' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html time='14.30 - 15.30' title='The Jedi Path to Angular Universal' speaker_id='michel-murabito' fill='true' %}
          {% include schedule/talk.html time='15.30 - 16.30' title='The pursuit of Quality' speaker_id='jiayi-hu' fill='true' %}
        </tr>

        {% include schedule/pause.html time='16.30 - 17.00' title='Coffee break' icon="coffee" fill='true' fill='true' %}

        <tr>
          {% include schedule/talk.html time='17.00 - 18.00' title='Creare PWA con Angular 5 e Visual Studio Code' speaker_id='emanuele-bartolesi' fill='true' %}
        </tr>

        {% include schedule/event.html time='17.50 - 18.00' title='Bye bye dal GrUSP' fill='true' %}
        {% include schedule/pause.html time='18.00 - 19.00' title='Happy hour' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>
</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
