---
title: Dove siamo
---

<div class="limit">

  <div class="intro intro--no-height">
    <h2 class="intro__titlepage">Dove siamo</h2>
  </div>

  <div class="row">
    <div class="row__column">
        <p class="row__text"><a href="https://www.google.it/maps/place/Via+Baldassarre+Longhena,+42,+37138+Verona+VR/@45.4399785,10.9697421,614m/data=!3m2!1e3!4b1!4m5!3m4!1s0x4781e1e3a1212445:0x74730a5e0d30436d!8m2!3d45.4399785!4d10.9719308?hl=it"><img src="/img/angularday/map_big.jpg" alt="location"></a></p>
        <p class="row__text">{{ site.data.conference.name }} si terrà presso {{ site.data.venue.name }} a {{ site.data.conference.where_when }}.</p>
    </div>
  </div>

  <hr class="hr">

  <h2 class="row__title">Convenzioni</h2>

  <div class="row row--2">
    <p class="row__column">
        <img src="/img/angularday/marker_venue.png"><br><strong class="row__title">Hotel San Marco</strong><br>
        Via Longhena, 42<br>
        37138 Verona — Italy<br>
        045569011<br>
        045572299<br>
        <a href="http://www.sanmarco.vr.it/index.cfm/it/">http://www.sanmarco.vr.it/</a><br>
        L'hotel in cui si terrà la conferenza offre tariffe scontate su camere singole e doppie.
    </p>
  </div>

  <hr class="hr">

  <h2 class="row__title">Come arrivare alla conferenza</h2>

  <div class="row row--4">
    <div class="row__column">
      <p class="row__text">
        <img src="/img/angularday/marker_train.png"><br><strong>Dalla stazione di Verona Porta Nuova</strong>
      </p>
      <p class="row__text">
        Prendi l'autobus 11 dalla piattaforma "C" al di fuori della stazione dei treni, è una corsa di circa 11 minuti.<br />
        Scendi alla fermata "Via Longhena 40", a due passi dall'hotel San Marco.
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/angularday/marker_route_n.png"><br><strong>Dall'uscita dell'autostrada di Verona Nord</strong>
      </p>
      <p class="row__text">
        Prendi la tangenziale in direzione Verona centro. Alla fine della tangenziale gira a sinistra; prosegui per Porta Palio e alla rotonda
        procedi dritto lungo Viale Colonnello Galliano. Al primo semaforo gira a sinistra in Via San Marco. L'hotel si trova poco più avanti
        sulla sinistra, subito prima del successivo semaforo.
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/angularday/marker_route_s.png"><br><strong>Dall'uscita dell'autostrada di Verona Sud</strong>

      </p>
      <p class="row__text">
        Segui le indicazioni per Fiera - Verona Centro. Procedi lungo Via delle Nazioni, che successivamente diventa Viale del Lavoro e, dopo il cavalcavia,
        Viale del Piave. Arrivato al semaforo di fronte a Porta Nuova gira a sinistra. Prosegui per Viale Luciano dal Cero, al semaforo tieni la sinistra
        e prendi il sottopasso, all'uscita del quale ti troverai in Viale Colonnello Galliano. Al primo semaforo gira a sinistra in Via San Marco. L'hotel
        si trova poco più avanti sulla sinistra, subito prima del successivo semaforo.
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/angularday/marker_airport.png"><br><strong>Dall'aeroporto</strong>

      </p>
      <p class="row__text">
          Prendi la tangenziale in direzione Verona, quindi imbocca il raccordo in direzione Verona Centro. Alla fine della tangenziale gira a sinistra;
          prosegui per Porta Palio e alla rotonda procedi dritto lungo Viale Colonnello Galliano. Al primo semaforo gira a sinistra in Via San Marco.
          L'hotel si trova poco più avanti sulla sinistra, subito prima del successivo semaforo.
      </p>
    </div>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
