<div class="sponsor-intro">
  <h1 class="sponsor-intro__title">Sponsor</h1>
  <div class="limit">
    <h3 class="sponsor-intro__question">
      La tua azienda utilizza Angular? Vuoi pubblicizzare un prodotto o un servizio correlato?<br>
      <span class="sponsor-intro__question-red">
        Stai cercando sviluppatori?<br>
        Vuoi aiutare la realizzazione della conferenza?
      </span>
    </h3>

    <div class="sponsor-intro__row">
      <div class="sponsor-intro__row-column">
        <p class="sponsor-intro__text">
          Ottimo! Otterrai grande visibilità e aiuterai a rendere possibile un grande evento su Angular in Italia.
        </p>
        <p class="sponsor-intro__text">
          La conferenza si terrà in una sala del centro congressi, che affaccia su un atrio fornito di reception, dove è possibile
          posizionare diversi stand. Il GRUSP sarà presente con un banchetto per le informazioni e le registrazioni.
        </p>
      </div>
      <div class="sponsor-intro__row-column">
        <p class="sponsor-intro__text">
          Con "stand" intendiamo uno spazio a tua disposizione con un tavolo, un paio di sedie, connettività e corrente.<br>
        </p>
      </div>
    </div>

  </div>

</div>
